@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: whitesmoke;
    background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/18/27/68/45/9/700_FO182768459_783795f43eef4a575124c411c90ec92d.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/papiers-peints-certificat-de-fond-d-39-ecran-creatif-de-crayons-colores-ecole-de-fond-transparent-d-39-illustration-de-fond.jpg.jpg");

}
#PP {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#PP::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#PP .PP{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
}
p {
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: crimson;
}
.section2-title {
    font-size: 4rem;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section2-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: white;
    background-color: crimson;
}

/* Services Section2 */
#services2 .services2 {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services2 .service2-top {
    max-width: 750px;
    margin: 0 auto;
}
#services2 .service2-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#services2 .service2-item {
    flex-basis: auto;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
#services2 .service2-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}
#services .service-bottom .icon2 {
    height: 125px;
    width: 125px;
    position: center;
    margin-left: 50%;
}
#services2 .service2-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services2 .service2-item h2bis {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
#services2 .service2-item p {
    color: white;
    text-align: left;
}
/* End Services Section2 */

